<ion-header>
  <ion-toolbar>
    <ion-title>List of all Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll="true" overflow-scroll="true">
  <ion-list scroll="true" overflow-scroll="true">
    <ion-item *ngFor="let expense of loadedExpenses.slice(0)">
      {{ expense.description }}&nbsp;
      &pound;{{ expense.amount }}&nbsp;<br>
      {{ expense.timestamp }}&nbsp;<br>
      <ion-img [src]="expense.imageurl" style="width: 50px; height: 50px;"></ion-img>
    </ion-item>
    <ion-item>
      Total Expenditure: &pound;{{ totalExpense }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/', 'home']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/', 'expenses']">
        <ion-icon name="add"></ion-icon>
        <ion-label>Add Expense</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>